

<div class="container mt-5">
<form action="/answer" data-turbo="false">
  <div class="form-group">
  <input type="text" name="question" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ask a question">
  
  <button type="submit" value="Ask!" class="btn btn-primary mt-3">Submit</button>
  </div>
</form>
</div>

